<div id="properties_list" data-controller="search">
  <h1 class="text-center my-4">Nuestras Propiedades</h1>
  <!-- Search Start -->
  <%= render 'pages/search' %>
  <!-- Search End -->

  <div class="container-fluid" style="width: 85%;">
    <div class="row g-4">
      <% @properties.each do |property| %>
        <%= render 'properties/property', property: property %>
      <% end %>
    </div>
  </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>