<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="about-img position-relative overflow-hidden p-5 pe-0">
          <img class="img-fluid w-100" src="img/about.jpg">
          <%= image_tag "about.jpg" , class: "img-fluid w-100" %>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4">#1 Lugar Para Encontrar la Propiedad Perfecta</h1>
        <p class="mb-4">Descubre un mundo de posibilidades donde cada propiedad es una joya única, lista para ser tuya.
          Sumérgete en la elegancia y el confort que siempre soñaste.</p>
        <p><i class="fa fa-check text-primary me-3"></i>Explora propiedades exclusivas que te harán sentir en casa</p>
        <p><i class="fa fa-check text-primary me-3"></i>Encuentra tu refugio en el lugar que siempre imaginaste</p>
        <p><i class="fa fa-check text-primary me-3"></i>Vive la experiencia de la propiedad de tus sueños</p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <%= image_tag "call-to-action.jpg" , class: "img-fluid rounded w-100" %>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="mb-4">
              <h1 class="mb-3">Contacta a Nuestros Agentes Especializados</h1>
              <p>Nuestros agentes pueden ayudarte a encontrar el mejor lugar para ti y tu familia.</p>
            </div>
            <a href="tel:+3121016535" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Llamanos</a>
            <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Agenda una visita</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
