<div class="container my-5">
  <h1 class="text-center mb-3">Agregar nueva Propiedad</h1>
  <%= render "form", property: @property %>
  <div>
    <%= link_to "Back to properties", admin_properties_path %>
  </div>

</div>